::root {
	--kleur-snow: rgb(255,250,250);
	/*--background-one: url("../Image/brain.gif");*/
	/*0788200034*/
}
body {
	background-color: var(--kleur-snow);
}
footer {
	height: 7em;
	width: 100%;
	margin: 2em 0 0 0;
	text-align: center;
	background-color: dimgrey;
	border-top: 1em solid black;
}
nav {
	text-align: center;
	background-color: olive;
	padding: .4em 0 .4em 0;
	height: 3em; 
}
nav h3 {
	margin: 0;
}
#pageheader {
	text-align: center;
	width: 80%;
	max-width: 40em;
	margin: 0 auto 1em auto;
	font-family: "Press Start 2P", "sans-serif";
}
h2 {
	font-family: "Orbitron", "sans-serif";
}
article {
	margin: 0 auto 1em auto;
}
#main--contentbox {
	width: 80%;
	max-width: 60em;
	min-height: calc(100vh - 3em);
	margin: auto;
}
#game--container {
	padding: 1em 0 1em 0;
}
#start_btn {
	font-family: "Press Start 2P", "sans-serif";
	padding: .4em;
}